<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biluo.mapper.TActivityMapper">

    <resultMap id="BaseResultMap" type="com.biluo.model.po.TActivity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="cost" column="cost" jdbcType="DECIMAL"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,owner_id,name,
        start_time,end_time,cost,
        description,create_time,create_by,
        edit_time,edit_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
	    select
	    <include refid="Base_Column_List" />
	    from t_activity
	    where id = #{id,jdbcType=INTEGER}
    </select>

  <select id="listByUserId" resultType="com.biluo.model.po.TActivity"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity
    where owner_id = #{userId}
  </select>

  <select id="listByUserIds" resultType="com.biluo.model.po.TActivity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity
    where owner_id in
    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </select>

  <resultMap id="activityDtoResultMap" type="com.biluo.model.dto.ActivityDto">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="ownerId" column="owner_id" jdbcType="INTEGER"/>
    <result property="ownerName" column="ownerName" jdbcType="VARCHAR"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
    <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    <result property="cost" column="cost" jdbcType="DECIMAL"/>
    <result property="description" column="description" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="createBy" column="create_by" jdbcType="INTEGER"/>
    <result property="createName" column="createName" jdbcType="VARCHAR"/>
    <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
    <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
    <result property="editName" column="editName" jdbcType="VARCHAR"/>
  </resultMap>

	<select id="list" resultType="com.biluo.model.dto.ActivityDto" resultMap="activityDtoResultMap">
		select
		ta.*,
		tu.name as ownerName
		from t_activity ta left join t_user tu on ta.owner_id = tu.id
		<where>
			<if test="ownerId != null">
				ta.owner_id = #{ownerId}
			</if>
			<if test="name != null">
				and ta.name like concat('%',#{name},'%')
			</if>
			<if test="startTime != null">
				and ta.start_time >= #{startTime}
			</if>
			<if test="endTime != null">
				and ta.end_time &lt;= #{endTime}
			</if>
			<if test="cost != null">
				and ta.cost >= #{cost}
			</if>
			<if test="createTime != null">
				and ta.create_time >= #{createTime}
			</if>
			${filterSQL}
		</where>
	</select>
  
  <select id="getActivityDetail" resultType="com.biluo.model.dto.ActivityDto" resultMap="activityDtoResultMap">
    select
      ta.*,
      tu1.name as ownerName,
      tu2.name as createName,
      tu3.name as editName
    from t_activity ta
        left join t_user tu1 on ta.owner_id = tu1.id
        left join t_user tu2 on ta.create_by = tu2.id
        left join t_user tu3 on ta.edit_by = tu3.id
    where ta.id = #{id}
  </select>
  
	<select id="getOngoingActivityList" resultType="com.biluo.model.po.TActivity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity
    where start_time &lt;= now() and end_time >= now()
  </select>
  
  <select id="count" resultType="java.lang.Integer">
    select count(1) from t_activity
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_activity
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.biluo.model.po.TActivity" useGeneratedKeys="true">
        insert into t_activity
        ( id,owner_id,name
        ,start_time,end_time,cost
        ,description,create_time,create_by
        ,edit_time,edit_by)
        values (#{id,jdbcType=INTEGER},#{ownerId,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}
        ,#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{cost,jdbcType=DECIMAL}
        ,#{description,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{createBy,jdbcType=INTEGER}
        ,#{editTime,jdbcType=TIMESTAMP},#{editBy,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.biluo.model.po.TActivity" useGeneratedKeys="true">
        insert into t_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="ownerId != null">owner_id,</if>
                <if test="name != null">name,</if>
                <if test="startTime != null">start_time,</if>
                <if test="endTime != null">end_time,</if>
                <if test="cost != null">cost,</if>
                <if test="description != null">description,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createBy != null">create_by,</if>
                <if test="editTime != null">edit_time,</if>
                <if test="editBy != null">edit_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="ownerId != null">#{ownerId,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
                <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
                <if test="cost != null">#{cost,jdbcType=DECIMAL},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="createBy != null">#{createBy,jdbcType=INTEGER},</if>
                <if test="editTime != null">#{editTime,jdbcType=TIMESTAMP},</if>
                <if test="editBy != null">#{editBy,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.biluo.model.po.TActivity">
        update t_activity
        <set>
                <if test="ownerId != null">
                    owner_id = #{ownerId,jdbcType=INTEGER},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="startTime != null">
                    start_time = #{startTime,jdbcType=TIMESTAMP},
                </if>
                <if test="endTime != null">
                    end_time = #{endTime,jdbcType=TIMESTAMP},
                </if>
                <if test="cost != null">
                    cost = #{cost,jdbcType=DECIMAL},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=INTEGER},
                </if>
                <if test="editTime != null">
                    edit_time = #{editTime,jdbcType=TIMESTAMP},
                </if>
                <if test="editBy != null">
                    edit_by = #{editBy,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.biluo.model.po.TActivity">
        update t_activity
        set 
            owner_id =  #{ownerId,jdbcType=INTEGER},
            name =  #{name,jdbcType=VARCHAR},
            start_time =  #{startTime,jdbcType=TIMESTAMP},
            end_time =  #{endTime,jdbcType=TIMESTAMP},
            cost =  #{cost,jdbcType=DECIMAL},
            description =  #{description,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            create_by =  #{createBy,jdbcType=INTEGER},
            edit_time =  #{editTime,jdbcType=TIMESTAMP},
            edit_by =  #{editBy,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
