<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biluo.mapper.TTranMapper">

    <resultMap id="BaseResultMap" type="com.biluo.model.po.TTran">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tranNo" column="tran_no" jdbcType="VARCHAR"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="expectedDate" column="expected_date" jdbcType="TIMESTAMP"/>
            <result property="stage" column="stage" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="nextContactTime" column="next_contact_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editBy" column="edit_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tran_no,customer_id,
        money,expected_date,stage,
        description,next_contact_time,create_time,
        create_by,edit_time,edit_by
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_tran
        where  id = #{id,jdbcType=INTEGER} 
    </select>
  
	<select id="selectSuccessTranAmount" resultType="java.math.BigDecimal">
    select sum(money) from t_tran where stage = 42
  </select>
  
  <select id="selectTotalTranAmount" resultType="java.math.BigDecimal">
	  select sum(money)
	  from t_tran
  </select>
  
  <select id="count" resultType="java.lang.Integer">
    select count(1) from t_tran
  </select>
  
  <select id="countSuccessTran" resultType="java.lang.Integer">
	  select count(1)
	  from t_tran
	  where stage = 42
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_tran
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.biluo.model.po.TTran" useGeneratedKeys="true">
        insert into t_tran
        ( id,tran_no,customer_id
        ,money,expected_date,stage
        ,description,next_contact_time,create_time
        ,create_by,edit_time,edit_by
        )
        values (#{id,jdbcType=INTEGER},#{tranNo,jdbcType=VARCHAR},#{customerId,jdbcType=INTEGER}
        ,#{money,jdbcType=DECIMAL},#{expectedDate,jdbcType=TIMESTAMP},#{stage,jdbcType=INTEGER}
        ,#{description,jdbcType=VARCHAR},#{nextContactTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP}
        ,#{createBy,jdbcType=INTEGER},#{editTime,jdbcType=TIMESTAMP},#{editBy,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.biluo.model.po.TTran" useGeneratedKeys="true">
        insert into t_tran
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="tranNo != null">tran_no,</if>
                <if test="customerId != null">customer_id,</if>
                <if test="money != null">money,</if>
                <if test="expectedDate != null">expected_date,</if>
                <if test="stage != null">stage,</if>
                <if test="description != null">description,</if>
                <if test="nextContactTime != null">next_contact_time,</if>
                <if test="createTime != null">create_time,</if>
                <if test="createBy != null">create_by,</if>
                <if test="editTime != null">edit_time,</if>
                <if test="editBy != null">edit_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="tranNo != null">#{tranNo,jdbcType=VARCHAR},</if>
                <if test="customerId != null">#{customerId,jdbcType=INTEGER},</if>
                <if test="money != null">#{money,jdbcType=DECIMAL},</if>
                <if test="expectedDate != null">#{expectedDate,jdbcType=TIMESTAMP},</if>
                <if test="stage != null">#{stage,jdbcType=INTEGER},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="nextContactTime != null">#{nextContactTime,jdbcType=TIMESTAMP},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="createBy != null">#{createBy,jdbcType=INTEGER},</if>
                <if test="editTime != null">#{editTime,jdbcType=TIMESTAMP},</if>
                <if test="editBy != null">#{editBy,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.biluo.model.po.TTran">
        update t_tran
        <set>
                <if test="tranNo != null">
                    tran_no = #{tranNo,jdbcType=VARCHAR},
                </if>
                <if test="customerId != null">
                    customer_id = #{customerId,jdbcType=INTEGER},
                </if>
                <if test="money != null">
                    money = #{money,jdbcType=DECIMAL},
                </if>
                <if test="expectedDate != null">
                    expected_date = #{expectedDate,jdbcType=TIMESTAMP},
                </if>
                <if test="stage != null">
                    stage = #{stage,jdbcType=INTEGER},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="nextContactTime != null">
                    next_contact_time = #{nextContactTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createBy != null">
                    create_by = #{createBy,jdbcType=INTEGER},
                </if>
                <if test="editTime != null">
                    edit_time = #{editTime,jdbcType=TIMESTAMP},
                </if>
                <if test="editBy != null">
                    edit_by = #{editBy,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.biluo.model.po.TTran">
        update t_tran
        set 
            tran_no =  #{tranNo,jdbcType=VARCHAR},
            customer_id =  #{customerId,jdbcType=INTEGER},
            money =  #{money,jdbcType=DECIMAL},
            expected_date =  #{expectedDate,jdbcType=TIMESTAMP},
            stage =  #{stage,jdbcType=INTEGER},
            description =  #{description,jdbcType=VARCHAR},
            next_contact_time =  #{nextContactTime,jdbcType=TIMESTAMP},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            create_by =  #{createBy,jdbcType=INTEGER},
            edit_time =  #{editTime,jdbcType=TIMESTAMP},
            edit_by =  #{editBy,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
